<?xml version="1.0"?>
<phpunit bootstrap="bootstrap.php">
     <!-- Add files not covered with tests into Code Coverage Analysis -->
    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../../../../vendor/caseboxdev/core-bundle/src/</directory>
            <exclude suffix=".php">../../../../../vendor/caseboxdev/core-bundle/src/Tests</exclude>
        </whitelist>

        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../../../../../vendor/caseboxdev/core-bundle/src/</directory>
            <exclude suffix=".php">../../../../../vendor/caseboxdev/core-bundle/src/Tests</exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-clover" target="../../../../../build/logs/clover.xml"/>
        <log type="coverage-php" target="../../../../../build/cov/coverage.cov"/>
    </logging>


<testsuites>
    <testsuite name="MAIN">
       <directory suffix=".php">../Tests/rpc</directory>
    </testsuite>
</testsuites>

</phpunit>
